%p.formNum
  数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
  %br
  「100~」で100以上、「~100」で100以下、「-200~100」で-200～100の範囲指定となります。
%p.formText
  「ヒール」と入力　→　ヒール、リニアヒール……が検索結果にヒット
  %br
  「"ヒール"」　→　完全一致で「ヒール」のみ検索結果にヒット
  %br
  「-ヒール」　→　「ヒール」の単語を含まない目的が検索結果にヒット
  %br
  「-"ヒール"」　→　完全一致で「ヒール」以外が検索結果にヒット
  %br
  「ヒール リニア」　→　「ヒール」と「リニア」の2つの単語が含まれるものが検索結果にヒット
  %br
  「ヒール/リニア」　→　「ヒール」か「リニア」のどちらかの単語が含まれるものが検索結果にヒット
  %br
  「ヒール リニア/クアッド」　→　「ヒール」が含まれ、さらに 「リニア」か「クアッド」 が含まれるものが検索結果にヒット
  %br
  「-ヒール -リニア」　→　「ヒール」もしくは「リニア」という単語が含まれるものを検索結果から除外
